{% extends 'base.html' %}

{% block title %} Delete {% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-dark navbar navbar-expand-lg navbar-light bg-light" style="height: 100%; margin: 10px;">
  <a class="navbar-brand" style="margin: 10px;" href="{% url 'list' %}">home</a>
  <a class="navbar-brand" style="margin: 10px; margin-left: 20px;" href="{% url 'add' %}">add</a>
</nav>

<div class="card" style="width: 18rem; margin: 20px; ">
  <div class="card-body">
    <h5 class="card-title">delete </h5>
    <hr>
    <p class="card-text" >Are you sure of delete this item?</p>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <form action="" method="post">
      {% csrf_token %}
    <div style="direction: rtl;"> 
      <button class="btn btn-danger float-right" style="margin: 10px;" role="button" aria-pressed="true">
        Delete
      </button>
  </div>
  </form>
  <a href="{% url 'details' delete.id %}"><button class="btn btn-secondary float-right" role="button" aria-pressed="true">Cancel</button></a>
</div>
  </div>
</div>
{% endblock %}
