{% extends 'base.html' %}

{% block title %}List{% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-dark navbar navbar-expand-lg navbar-light bg-light" style="height: 100%; margin: 10px;">
    <a class="navbar-brand" style="margin: 10px;" href="{% url 'list' %}">home</a>
    <a class="navbar-brand" style="margin: 10px; margin-left: 20px;" href="{% url 'add' %}">add</a>
</nav>

<div style="margin: 20px;">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">username</th>
        <th scope="col">category</th>
      </tr>
    </thead>
    <tbody>
        {% for obj in passwords %}
      <tr>
        <th scope="row">{{ obj.id }}</th>
        <td>{{ obj.title }}</td>
        <td>{{ obj.username }}</td>
        <td><a class="navbar-brand" href="{% url 'details' obj.id %}">details</a></td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
